 

  /* **************************************************************************

		CSS for spot_jsbelib.js demo project
		Geoffrey Wang / KKLabs Inc.
		v.0.2 (2014/05/26)
		
   ************************************************************************** */


 /* ************************************************************************** */
 /*
	document basic
 */
 /* ************************************************************************** */

@charset "utf-8";

body {
	margin: 10px;
	font-size: 16px;
	line-height: 22px;
}

#mainArea
{
	position: fixed;
}