 

  /* **************************************************************************

		CSS for spot_jsbelib.js demo project
		Geoffrey Wang / KKLabs Inc.
		v.0.2 (2014/05/26)
		
   ************************************************************************** */


 /* ************************************************************************** */
 /*
	document basic
 */
 /* ************************************************************************** */

@charset "utf-8";

body {
	margin: 10px;
	font-size: 16px;
	line-height: 22px;
}


.itemArea
{
   padding: 5px;
}

.currentArea
{
	border: 3px solid red;
	background-color: #FFFFBB; 
}